:root {
    --primary-text-color:#2E2F42;
    --text-slate-color:#434455;
    --button-color-on:#F4F4FD;
    --button-color-off:#404BBF;
    --title-text-color:#FFFFFF;
    --title-bgc-text:#4D5AE5;
    --pressed-state:#404BBF;
    --light-subtle-text:#8E8F99;
    --cornflower-accent:#E7E9FC

    /* succees */
    --success-green:#31D0AA;
    --success-green-75:#31d0aa;
    --success-green-50:#31D0AA;
    --success-green-10:#31D0AA;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

/* Button */

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
}

.btn {
    font-family: 'Roboto';
    font-weight: 500;
    background-color: var(--title-bgc-text);
    color: var(--title-text-color);
    cursor: pointer;
    border: none;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    border:none;
}


.button{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-bgc-text);
    background: var(--button-color-on);
    cursor: pointer;
    font-weight: 500;
    border: none;
    
    
}

.button.primary:hover,
.button.primary:focus {
    background: var(--button-color-off);
    color: var(--button-color-on);
    cursor: pointer;
    letter-spacing: 0.04em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--button-color-on);
    background: var(--button-color-off);
    cursor: pointer;
}


.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-weight: 800;
    color: var(--title-bgc-text)
    
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-text-color);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-light{
    color: var(--button-color-on);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* nav */

.menu:hover,:focus,:active{
    color: var(--pressed-state);
}


.menu{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.site-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}


.auth-nav{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-slate-color);
}

.info:hover,:focus,:active{
    color: var(--pressed-state);
}

.info{
    color: var(--text-slate-color);
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* section hero */

.hero{
    background: var(--primary-text-color);
    left: 0px;
    top: 72px;
}



.title-hero{
    color: var(--title-text-color);
    font-size: 56px;
    line-height: 1.07;
}

/* Information section */

.information-title{
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.information-text{
    color: var(--paragraf-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

/* Doing img */

.poster-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* content */

/* Team */
.content{
    background-color: var(--button-color-on);
}

.content-title{
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 700;
}

.content-item-title{
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.content-item-text{
    color: var(--paragraf-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}



/* Portfolio */

.gallery-title{
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.gallery-text{
    color: var(--text-slate-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

/* footer */
footer{
    background: var(--primary-text-color);
}
.footer-text{

    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}